@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

//colors
$orange: #C74029;
$cream: #FAE8CD;
$blue: #128085;
$dark: #385052;
$yellow: #ffd800;
body {
  font-family: "adelle-sans";
}

.navbar {
  background-color: #fff;
}
.slide {
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  background-color: white;

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

  font-family: "chaparral-pro", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;

  p {
    @include box-sizing(content-box);
    font-family: "chaparral-pro";
    display: block;
    font-size: 30px;
  }

  p strong {
    white-space: nowrap;
  }
}

.comic-panel {
  height: 900px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: #fff;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  margin-right: 10px;
}

.page{
  max-width: 1024px;
}

.impress-enabled {
  .step {
    margin: 0;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
  }
  .step.active {
    opacity: 1;
  }
}


.panel1 {
  background-image: url('../images/panel1.jpg'); 
}

.panel2 {
  background-image: url('../images/panel2.jpg'); 
}

.panel3 {
  background-image: url('../images/panel3.jpg'); 
}

.panel4 {
  background-image: url('../images/panel4.jpg'); 
}

.panel5 {
  background-image: url('../images/panel5.jpg'); 
}

.panel6 {
  background-image: url('../images/panel6.jpg'); 
}

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
  p{
    margin-bottom: 10px;
  }
}

.impress-supported .fallback-message {
    display: none;
}

.spacebar{
  @include border-radius(5px);
  font-family: "adelle-sans";
  display: inline-block;
  padding-top:20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:5px;
  border: 1px solid #000;
}

.tagline{
  font-family: "bree-serif";
  font-size: 100px;
}