/* line 9, ../sass/style.scss */
#logo {
  position: fixed;
  top: 15%;
  right: 20px;
  margin-left: -50px;
  margin-top: -50px;
  width: 300px;
}
/* line 16, ../sass/style.scss */
#logo h2 {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}
/* line 21, ../sass/style.scss */
#logo p {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

/* line 27, ../sass/style.scss */
#signin {
  position: fixed;
  top: 40%;
  right: 20px;
  margin-left: -50px;
  margin-top: -50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

/* line 38, ../sass/style.scss */
.comic-panel {
  height: 900px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* line 50, ../sass/style.scss */
.panel1 {
  background-image: url("../images/panel1.jpg");
}

/* line 54, ../sass/style.scss */
.panel2 {
  background-image: url("../images/panel2.jpg");
}

/* line 58, ../sass/style.scss */
.panel3 {
  background-image: url("../images/panel3.jpg");
}

/* line 62, ../sass/style.scss */
.panel4 {
  background-image: url("../images/panel4.jpg");
}

/* line 66, ../sass/style.scss */
.panel5 {
  background-image: url("../images/panel5.jpg");
}

/* line 70, ../sass/style.scss */
.panel6 {
  background-image: url("../images/panel6.jpg");
}
