// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$action-font1: "zubilo-web-inline";
$action-font2: "zubilo-web-shadow";

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  width: 100%;
  height: 500px;
  .carousel-inner{
    width: 100%;
    height: 500px;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
  }
  .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-control{
  	color: $main-color;
  }
}



#recommendation-carousel {
  .recommendation-content{
      margin-top: 20px;
      // @include box-shadow(rgba(255, 255, 255, 0.5) 0px 0px 25px 25px);
      // background: rgba(255, 255, 255, 0.5);
      .title{
        min-width: 50px;
        background: transparent;
        @include text-shadow(0px 0px 15px $main-color);
        display: inline-block;
        color: black;
        margin-top:20px; 
        h4{
          padding: 0px;
          margin: 0px;
          line-height: 1;
          text-align: left ;
          background: transparent none !important;
          font-family: $title-font2;
        }
        h2{
          padding: 0px;
          margin: 0px;
          text-align: left ;
          background: transparent none !important;
          font-family: $title-font1;
        }
      }
      .tags{
        color: black;
        display: inline-block;
        font-weight: 100;
        float: right;
        background: transparent;
        @include text-shadow(0px 0px 15px $main-color);
        p.small{
         text-align: left;
         padding: 0;
         font-family: $title-font2;
        }
      }

      .action{
        min-width: 50px;
        margin: 0px auto;
        background: transparent;
        padding: 5px;
        display: inline-block;
        @include text-shadow(5px 5px 15px $main-dark);
        color: $main-color;
        h3{
          line-height: 1;
          margin: 0;
          padding: 0;
          font-size: 50px;
          font-family: $action-font2;
        }
        h1{
          font-size: 70px;
          line-height: 1;
          margin: 0;
          font-family: $action-font1;
        }
      }

      .info {
        min-width: 50px;
        background: transparent;
        padding: 5px;
        margin-top: 60px;
        display: inline-block;
        @include text-shadow(2px 2px 10px black);
        p.small{
        	font-weight: 100;
        	font-size: 14px;
        	font-family: $title-font2;
        	color: $main-color;
        }
      }
  }

  .btn-start{
    width: 50%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left:25%;
    font-weight: 100;
    font-size: 30px;
    @include border-top-radius(5px);
    @include border-bottom-radius(0px);
    @include box-shadow(rgba(0, 0, 0, 0.7) 5px 5px 15px 15px);
    @include text-shadow(none);
    background-color: rgba(169,228,114,0.9);
    border-color: $green;
    z-index:11;
    color: black;
    font-family: $action-font2;
  }
}
